h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

.parent{
    display: flex;
}
.one {
    font-size: 27px;
    width: 400px;
    height: 250px;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
}